$desktop-width: 1020px;
$tablet-width: 768px;
$mobile-width: 320px;

$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.6);
$white: #FFFFFF;
$background-header: rgba(30, 9, 6, 0.15);
$background-footer: #3F3F3F;
$dark: #474747;
$dark-opacity: rgba(71, 71, 71, 0.5);
$dark-grey: #585757;
$dark-grey-opacity: rgba(88, 87, 87, 0.5);
$grey: #9F9E9E;

$rusty: #E27F00;
$rusty-hover: #FFA839;
$rusty-active: #DA8B26;
$button-grey: #C1C1C1;
$button-grey-hover: #585757;
$button-grey-active: #9F9E9E;
$button-border-hover: rgba(71, 71, 71, 0.5);;
$button-border-active: rgba(108, 108, 108, 0.5);

$red: #F20505;
$stars-gold: #FFD168;

$line-darkgrey: #3F3F3F;
$box-stroke-gray: #9F9E9E;
$box-stroke-gray-hover: #585757;
$box-stroke-gray-active: #585757;
$box-stroke-gray-blocked: #DDDDDD;
$card-stroke-gray: #DDDADA;
$checkbox-blocked-fill: #F6F3F3;
$arrow-grey: #6C6C6C;

$overlay: rgba(88, 87, 87, 0.6);
