@import "../../../sass/mixins.scss";

.main {
  display: grid;
  grid-template-areas:
    "title title"
    "crumbs crumbs"
    "filters sort"
    "filters catalog"
    "filters pagination";
  grid-template-columns: 22.5% 1fr;
  column-gap: 30px;
  width: 100%;
  margin-top: -40px;
}

.main__title {
  @include font(700, 22px, 26px);
  @include reset-indent;

  grid-area: title;
  margin-bottom: 10px;
  letter-spacing: 0.7px;

  &--not-found  {
    grid-area: catalog;
    margin: auto;
    margin-top: 80px;
  }
}
