@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.promo__title {
  @include reset-indent;
  @include font(700, 16px, 20px, 1.2px);

  margin-top: 1px;
  margin-bottom: 8px;
}

.promo__text {
  @include reset-indent;
  @include font(400, 12px, 15px, 0.9px);

  margin-bottom: 19px;
}

.promo__input {
  @include font(400, 16px, 20px, 1.2px);

  font-family: inherit;
  width: 170px;
  height: 36px;
  margin-right: 33px;
  text-transform: uppercase;
  text-align: center;

  &:focus {
    border: 1px solid $rusty;
    outline: none;
  }
}

.promo__btn {
  @include font(700, 16px, 18px, 1.2px);

  min-width: 150px;
  padding: 9px 20px;
}
