@import "../../sass/mixins.scss";

.cards {
  grid-area: catalog;
  min-height: 540px;

  &--empty {
    display: flex;
  }
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.6%;
  row-gap: 30px;
}

.cards__empty-message {
  @include font(700, 18px, 21px, 0.4px);

  margin: auto;
}
