@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.social {
  @include list;

  display: grid;
  grid-template-columns: repeat(4, 24px);
  gap: 23px;
  grid-template-rows: 24px;
  justify-items: center;

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: repeat(3, 24px);
    gap: 16px;
  }

  @media (max-width: $tablet-width - 1) {
    grid-template-columns: repeat(5, 24px);
  }
}

.social__item {
  @include reset-indent;
}

.social__link {
  opacity: 0.7;

  &:hover {
    opacity: 0.5;
  }

  &:focus,
  &:active {
    opacity: 1;
  }
}
